body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { }
    #listing-container {
        /* width: 75%; */
    }
@media all and (min-width: 768px) and (max-width: 1024px) { 
    #listing-container {
        width: 90%;
    }
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .main-body,
    #login-nav {
        flex-direction: column;
    }

    .mdl-search-item {
        flex-direction: column;
    }

    #listing-container {
        width: 95%;
    }
    
    #hero {
        width: 100%;
    }

    .search-results {
        flex-direction: column;
    }
}


/* @media only screen and (max-width: 480px) {
    .main-body,
    #login-nav {
        flex-direction: column;
    }
    
    .mdl-search-item {
        flex-direction: column;
    }
    
    #listing-container {
        width: 98%;
    }
    
 } */

#container {
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 5px 25px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.single-listing {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 1px 12px 5px;
    margin: 5px;
    box-shadow: 1px 1px 3px black;
}

#description {
    display:flex;
    list-style-type: none;
    gap: 12px;
    padding: 0px;
    margin: 2px;
}

.status {
    margin: 2px;
}

#listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}

.listing-image {
    display:flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 225px;
    border-radius: 8px;
}

.listing-image:hover {
    transform: scale(1.02);
}

.listing-price {
    font-weight: bold;
    font-size: 1.5em;
}

.for-sale {
    color: green;
    font-size: large;
}

.not-for-sale {
    color: orange;
    font-size: large;
}

.address-details {
    display: flex;
    align-items: center;
    font-size: .9em;
}

.status,
.list-price,
#description,
.address-details {
    margin-bottom: 5px;
}

.btn {
    z-index: 1;
}

.favback {
    color: red;
    font-size: 1.5em;
    background-color: rgb(235, 231, 231);
    border-radius: 5px;
    padding: 5px;
    opacity: 85%;
    margin: 8px;
}

#login-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emblem {
    flex-grow: 1;
}

.login {
    margin-right: 15px;
}

.signup {
    border-radius: 25px !important;
    margin-left: 25px;
    font-weight: bold !important;
}

.main-body {
    display:flex;
}

.access {
    border: 1px solid green;
    border-radius: 10px;
    min-width: 200px;
    max-width: 300px;
    max-height: 410px;
    margin: 15px;
    padding: 10px;
    box-shadow: 1px 1px 2px black;
}

.alert {
    padding: 1px !important;
}

.message {
    color: red;
    font-size: .8em;
    text-align: center;
}

.access .form-group {
    margin-bottom: 2px;
}

#registerhere,
#signinhere {
    color: blue;
    cursor: pointer;
}

.prompt {
    margin: 1.25em;
    padding: .5em;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.avacon {
    margin-right: 20px;
    font-size: 1.25em;
}

.ufavs {
    color: red;
    font-size: 1.25em;
    margin-right: .75em;
}

.welcome {
    margin-right: 15px;
}

header {
    width: 75%;
    text-align: center;
}

#header {
    margin: 10px 20px;
}

#useroptions {
    display: flex;
    flex-direction: row;
}

.hand-pointer {
    cursor: pointer;
}

.favmode {
    margin-right: 3em;
    font-weight: bold;
    font-size: large;
    background-color: lightgoldenrodyellow;
}

a {
    text-decoration: none !important;
}

.single-listing a {
    color: black;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.site-back {
    background-color: black;
    opacity: 50%;
}

.site-desc {
    color: white;
    background:rgba(0,0,0,.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    width: 300px;
    text-align: center;
    margin: 10px;
}

.site-instruct {
    color: white;
    background:rgba(0,0,0,.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    width: 300px;
    text-align: center;
    margin: 10px;
}

#search-props {
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
}

.search-container {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}
  
.suggestions {
    display: block;
    position: absolute;
    height: 80px;
    width: 200px;
    margin-left: 40px;
    background-color: f9f9f9;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

.search-container:focus .suggestions {
    display: block;
}

.suggestions ul li {
    cursor: pointer;
    list-style-type: none;
    font-size: 1em;
    background-color: white;
    text-align: left;
}

.suggestions ul {
    margin-top: 5px;
    padding-left: 0px;
}

.suggestions li:hover {
    background-color: #c9c6c6 !important;
}

.matched {
    color:firebrick;
}

.search-button {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background-color:aquamarine;
}

.site-instruct p {
    margin-bottom: 4px;
}

.mdl-search-item {
    display:flex;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
}

.mdl-desc {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 0%;
    width: 3em;
}

select {
    margin: 10px;
    width:8em;
    border-radius: 5px;
}

.modal-footer {
    justify-content: space-between;
    padding: 1em 3em;
}
#include-region {
    width: 20px;
    height: 20px;
    margin-bottom: 0%;
    margin-left: 5px;
}

.this-region {
    display: flex;
    align-items: center;
    color: #007bff;
}

#only-in {
    margin-bottom: 0%;
}

#copyright p {
    display:flex;
    justify-content: center;
    margin-bottom: 0%;
}

#hero {
    display: flex;
    justify-content: center;
    width: 80%;
}

.carousel {
    overflow: hidden;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-item {
   max-height: 400px;
    overflow: hidden;
}

.carousel-caption {
    font-weight: bold;
    bottom: 5px;
    padding-bottom: 0%;
}

i {
    font-weight: bold;
    color: black;
    font-size: larger;
}

#listing-details {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#listing-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /* width: 70vw; */
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px 25px 25px;
}

.feature-row {
    display: flex;
    flex-wrap: wrap;
}

.feature-group {
    display: flex;
    flex-basis: 33.333%;
    margin: 5px 0;
}

.feature-icon {
    display:flex;
    align-self: center;
    padding-right: 7px;
}

.feature-icon i {
    color: darkslategray;
}

.feature-type-var {
    display: flex;
    flex-direction: column;
}

.feature-var {
    font-weight: 600;
}

.feature-type {
    font-size: x-small;
    color:darkslateblue;
}

.brokered-by {
    font-size:small;
    color: darkslategray;
}

.search-results {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-search {
    margin-left: 5px;
}

.ts-control > input {
    font-weight: 600;
    font-size: 1.2em;
}

.sort-by {
    width: 10em;
}

#text-favorites {
    color: red;
}

.newaccount {
    color: white;
    background-color: black;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 4px;
}

#goback {
    display:flex;
}

.goback {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 5px;
    background-color: black;
    padding: 2px 10px;
    border-radius: 4px;
}

.fa-backward {
    margin-top: 3px;
    color: white;
}